iow_LDES_timescale.json
{"flowContents":{"identifier":"73957982-f542-39b6-a86e-8a64ca5fdd6d","instanceIdentifier":"76c41a54-0184-1000-8da3-fc62394a7676","name":"iow LDES timescale","comments":"","position":{"x":696.0,"y":416.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"d4649661-514d-3101-801d-2bf66f1c759d","instanceIdentifier":"40e2c807-edcd-38f3-9732-1e8bc8ef292f","name":"JSON to SQL","comments":"","position":{"x":1648.0,"y":280.0},"type":"org.apache.nifi.processors.standard.ConvertJSONToSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.17.0"},"properties":{"table-schema-cache-size":"100","Table Name":"mobility_hindrances","Catalog Name":null,"jts-sql-param-attr-prefix":"sql","Schema Name":null,"Unmatched Field Behavior":"Ignore Unmatched Fields","Unmatched Column Behavior":"Ignore Unmatched Columns","jts-quoted-identifiers":"true","jts-quoted-table-identifiers":"false","JDBC Connection Pool":"8701abec-7829-3012-bcd3-d10972420545","Update Keys":null,"Translate Field Names":"true","Statement Type":"INSERT"},"propertyDescriptors":{"table-schema-cache-size":{"name":"table-schema-cache-size","displayName":"Table Schema Cache Size","identifiesControllerService":false,"sensitive":false},"Table Name":{"name":"Table Name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false},"Catalog Name":{"name":"Catalog Name","displayName":"Catalog Name","identifiesControllerService":false,"sensitive":false},"jts-sql-param-attr-prefix":{"name":"jts-sql-param-attr-prefix","displayName":"SQL Parameter Attribute Prefix","identifiesControllerService":false,"sensitive":false},"Schema Name":{"name":"Schema Name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"Unmatched Field Behavior":{"name":"Unmatched Field Behavior","displayName":"Unmatched Field Behavior","identifiesControllerService":false,"sensitive":false},"Unmatched Column Behavior":{"name":"Unmatched Column Behavior","displayName":"Unmatched Column Behavior","identifiesControllerService":false,"sensitive":false},"jts-quoted-identifiers":{"name":"jts-quoted-identifiers","displayName":"Quote Column Identifiers","identifiesControllerService":false,"sensitive":false},"jts-quoted-table-identifiers":{"name":"jts-quoted-table-identifiers","displayName":"Quote Table Identifiers","identifiesControllerService":false,"sensitive":false},"JDBC Connection Pool":{"name":"JDBC Connection Pool","displayName":"JDBC Connection Pool","identifiesControllerService":true,"sensitive":false},"Update Keys":{"name":"Update Keys","displayName":"Update Keys","identifiesControllerService":false,"sensitive":false},"Translate Field Names":{"name":"Translate Field Names","displayName":"Translate Field Names","identifiesControllerService":false,"sensitive":false},"Statement Type":{"name":"Statement Type","displayName":"Statement Type","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"73957982-f542-39b6-a86e-8a64ca5fdd6d"},{"identifier":"efe64871-f4c6-38c0-ba3d-4e2ab187104e","instanceIdentifier":"e5759640-7cfb-320c-b624-7fd261f447b0","name":"Version Materialisation","comments":"","position":{"x":1024.0,"y":24.0},"type":"be.vlaanderen.informatievlaanderen.processors.VersionMaterialiseProcessor","bundle":{"group":"be.vlaanderen.informatievlaanderen","artifact":"nifi-ldes-version-materialisation-processors","version":"0.1-SNAPSHOT"},"properties":{"isVersionOf":"http://purl.org/dc/terms/isVersionOf"},"propertyDescriptors":{"isVersionOf":{"name":"isVersionOf","displayName":"Predicate used for isVersionOf","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"73957982-f542-39b6-a86e-8a64ca5fdd6d"},{"identifier":"be454341-6b9c-372e-a4bb-b08fb3de1b14","instanceIdentifier":"76c4df78-0184-1000-22a5-cdee1c342cbb","name":"IOW LdesClient","comments":"","position":{"x":408.0,"y":-8.0},"type":"be.vlaanderen.informatievlaanderen.ldes.processors.LdesClient","bundle":{"group":"be.vlaanderen.informatievlaanderen","artifact":"ldes-client-processor","version":"1.0-SNAPSHOT"},"properties":{"FRAGMENT_EXPIRATION_INTERVAL":"30","DATA_SOURCE_FORMAT":"TURTLE","DATA_DESTINATION_FORMAT":"n-quads","DATA_SOURCE_URL":"https://iow.smartdataspace.beta-vlaanderen.be/water-quality-observations-timebased"},"propertyDescriptors":{"FRAGMENT_EXPIRATION_INTERVAL":{"name":"FRAGMENT_EXPIRATION_INTERVAL","displayName":"Fragment expiration interval","identifiesControllerService":false,"sensitive":false},"DATA_SOURCE_FORMAT":{"name":"DATA_SOURCE_FORMAT","displayName":"Data source format","identifiesControllerService":false,"sensitive":false},"DATA_DESTINATION_FORMAT":{"name":"DATA_DESTINATION_FORMAT","displayName":"Data destination format","identifiesControllerService":false,"sensitive":false},"DATA_SOURCE_URL":{"name":"DATA_SOURCE_URL","displayName":"Data source url","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"73957982-f542-39b6-a86e-8a64ca5fdd6d"},{"identifier":"bce23fb0-ba67-3898-b8a4-65e1ce2acd65","instanceIdentifier":"42335540-26d5-397a-cab1-b191afc4448b","name":"upsert in PostgreSQL","comments":"","position":{"x":1032.0,"y":528.0},"type":"org.apache.nifi.processors.standard.ExecuteSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.17.0"},"properties":{"esql-max-rows":"0","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":"8701abec-7829-3012-bcd3-d10972420545","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"false","dbf-default-scale":"0","sql-pre-query":"DELETE FROM iow WHERE \"id\" = '${sql.args.1.value}';","compression-format":"NONE","esql-output-batch-size":"0","esql-fetch-size":"0","SQL select query":null,"dbf-normalize":"false"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false},"SQL select query":{"name":"SQL select query","displayName":"SQL select query","identifiesControllerService":false,"sensitive":false},"dbf-normalize":{"name":"dbf-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"73957982-f542-39b6-a86e-8a64ca5fdd6d"},{"identifier":"6738a1c8-1603-335f-a48b-7782c4a999a8","instanceIdentifier":"2775ce69-bce4-3ec2-291e-0ec7615f18d5","name":"Nquads to JSON-LD","comments":"","position":{"x":408.0,"y":272.0},"type":"be.vlaanderen.informatievlaanderen.processors.RDFSerialisationProcessor","bundle":{"group":"be.vlaanderen.informatievlaanderen","artifact":"nifi-rdf-serialisation-processors","version":"0.1-SNAPSHOT-"},"properties":{},"propertyDescriptors":{"SOURCE_SERIALISATION":{"name":"SOURCE_SERIALISATION","displayName":"SOURCE_SERIALISATION","identifiesControllerService":false,"sensitive":true},"TARGET_SERIALISATION":{"name":"TARGET_SERIALISATION","displayName":"TARGET_SERIALISATION","identifiesControllerService":false,"sensitive":true},"CONTEXT_URI":{"name":"CONTEXT_URI","displayName":"CONTEXT_URI","identifiesControllerService":false,"sensitive":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["FAILURE"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"73957982-f542-39b6-a86e-8a64ca5fdd6d"},{"identifier":"dd9cc19c-b402-329c-a298-09415f97bf8d","instanceIdentifier":"27481284-9a96-372e-29b6-af48b2b0dcf9","name":"Flatten JSON to key-value pairs","comments":"","position":{"x":1032.0,"y":272.0},"type":"org.apache.nifi.processors.standard.JoltTransformJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.17.0"},"properties":{"jolt-spec":"[\n  {\n    \"operation\": \"shift\",\n    \"spec\": {\n      \"id\": \"id\",\n      \"gipodId\": {\n        \"value\": \"gipod_id\"\n      },\n      \"identifier\": {\n        \"0\": {\n          \"assignedByName\": \"identifier_assigned_by_name\"\n        }\n      },\n      \"dct:description\": {\n        \"value\": \"description\"\n      },\n      \"owner\": {\n        \"id\": \"owner_id\",\n        \"prefLabel\": {\n          \"value\": \"owner_preferred_name\"\n        }\n      },\n      \"zone\": {\n        // Only mapping one zone.\n        \"0\": {\n          \"id\": \"zone_id\",\n          \"consequence\": {\n            \"*\": {\n              \"prefLabel\": \"zone_consequence_label_internal\"\n            }\n          },\n          \"geometry\": {\n            \"wkt\": \"zone_geometry_wkt\"\n          },\n          \"zoneType\": {\n            \"*\": {\n              \"prefLabel\": \"zone_type\"\n            }\n          }\n        }\n      },\n      \"lastModifiedBy\": \"lastModifiedBy\",\n      \"createdBy\": \"createdBy\",\n      \"generatedAtTime\": \"generated_at_time\",\n      \"createdOn\": \"created_on\",\n      \"eventName\": \"last_event_name\",\n      \"lastModifiedOn\": \"lastModifiedOn\",\n      \"status\": {\n        \"prefLabel\": \"status\"\n      },\n      \"period\": {\n        \"*\": {\n          \"start\": \"period_start\",\n          \"end\": \"period_end\"\n        }\n      }\n    }\n  },\n  {\n    \"operation\": \"modify-default-beta\",\n    \"spec\": {\n      // String join the values in the array x, with a comma and a space\n      \"zone_consequence_label\": \"=join(',',@(1,zone_consequence_label_internal))\"\n    }\n  },\n  {\n    \"operation\": \"remove\",\n    \"spec\": {\n      \"zone_consequence_label_internal\": \"\"\n    }\n  }\n]","jolt-transform":"jolt-transform-chain","jolt-custom-class":null,"jolt-custom-modules":null,"pretty_print":"false","Transform Cache Size":"1"},"propertyDescriptors":{"jolt-spec":{"name":"jolt-spec","displayName":"Jolt Specification","identifiesControllerService":false,"sensitive":false},"jolt-transform":{"name":"jolt-transform","displayName":"Jolt Transformation DSL","identifiesControllerService":false,"sensitive":false},"jolt-custom-class":{"name":"jolt-custom-class","displayName":"Custom Transformation Class Name","identifiesControllerService":false,"sensitive":false},"jolt-custom-modules":{"name":"jolt-custom-modules","displayName":"Custom Module Directory","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}},"pretty_print":{"name":"pretty_print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false},"Transform Cache Size":{"name":"Transform Cache Size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"73957982-f542-39b6-a86e-8a64ca5fdd6d"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"5bc5901f-5acd-3873-8d80-d7037286e978","instanceIdentifier":"6a07b05c-6990-3dbf-0df9-430af9488b20","name":"","source":{"id":"d4649661-514d-3101-801d-2bf66f1c759d","type":"PROCESSOR","groupId":"73957982-f542-39b6-a86e-8a64ca5fdd6d","name":"JSON to SQL","comments":"","instanceIdentifier":"40e2c807-edcd-38f3-9732-1e8bc8ef292f"},"destination":{"id":"bce23fb0-ba67-3898-b8a4-65e1ce2acd65","type":"PROCESSOR","groupId":"73957982-f542-39b6-a86e-8a64ca5fdd6d","name":"upsert in PostgreSQL","comments":"","instanceIdentifier":"42335540-26d5-397a-cab1-b191afc4448b"},"labelIndex":1,"zIndex":0,"selectedRelationships":["sql"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"73957982-f542-39b6-a86e-8a64ca5fdd6d"},{"identifier":"3075642d-1d70-3ccd-b8f5-ed9fed104ade","instanceIdentifier":"4ed01101-a8aa-3db8-b8b4-1589fbe54c28","name":"","source":{"id":"dd9cc19c-b402-329c-a298-09415f97bf8d","type":"PROCESSOR","groupId":"73957982-f542-39b6-a86e-8a64ca5fdd6d","name":"Flatten JSON to key-value pairs","comments":"","instanceIdentifier":"27481284-9a96-372e-29b6-af48b2b0dcf9"},"destination":{"id":"d4649661-514d-3101-801d-2bf66f1c759d","type":"PROCESSOR","groupId":"73957982-f542-39b6-a86e-8a64ca5fdd6d","name":"JSON to SQL","comments":"","instanceIdentifier":"40e2c807-edcd-38f3-9732-1e8bc8ef292f"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"73957982-f542-39b6-a86e-8a64ca5fdd6d"},{"identifier":"ed6f9083-d395-396c-8635-f9adc4dcd0ba","instanceIdentifier":"76c5b2cf-0184-1000-4c4e-0e230e30ef2b","name":"","source":{"id":"efe64871-f4c6-38c0-ba3d-4e2ab187104e","type":"PROCESSOR","groupId":"73957982-f542-39b6-a86e-8a64ca5fdd6d","name":"Version Materialisation","comments":"","instanceIdentifier":"e5759640-7cfb-320c-b624-7fd261f447b0"},"destination":{"id":"6738a1c8-1603-335f-a48b-7782c4a999a8","type":"PROCESSOR","groupId":"73957982-f542-39b6-a86e-8a64ca5fdd6d","name":"Nquads to JSON-LD","comments":"","instanceIdentifier":"2775ce69-bce4-3ec2-291e-0ec7615f18d5"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"73957982-f542-39b6-a86e-8a64ca5fdd6d"},{"identifier":"57c8a761-3e86-35fa-97d8-432d3c3eee62","instanceIdentifier":"76c58f19-0184-1000-35d3-c24edd09b9dc","name":"","source":{"id":"be454341-6b9c-372e-a4bb-b08fb3de1b14","type":"PROCESSOR","groupId":"73957982-f542-39b6-a86e-8a64ca5fdd6d","name":"IOW LdesClient","comments":"","instanceIdentifier":"76c4df78-0184-1000-22a5-cdee1c342cbb"},"destination":{"id":"efe64871-f4c6-38c0-ba3d-4e2ab187104e","type":"PROCESSOR","groupId":"73957982-f542-39b6-a86e-8a64ca5fdd6d","name":"Version Materialisation","comments":"","instanceIdentifier":"e5759640-7cfb-320c-b624-7fd261f447b0"},"labelIndex":1,"zIndex":0,"selectedRelationships":["data"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"73957982-f542-39b6-a86e-8a64ca5fdd6d"},{"identifier":"2dfef8b4-d1a6-32fd-9f25-567fd5158dfb","instanceIdentifier":"f6c6d606-1a1d-3d76-b895-36360fe8924e","name":"","source":{"id":"6738a1c8-1603-335f-a48b-7782c4a999a8","type":"PROCESSOR","groupId":"73957982-f542-39b6-a86e-8a64ca5fdd6d","name":"Nquads to JSON-LD","comments":"","instanceIdentifier":"2775ce69-bce4-3ec2-291e-0ec7615f18d5"},"destination":{"id":"dd9cc19c-b402-329c-a298-09415f97bf8d","type":"PROCESSOR","groupId":"73957982-f542-39b6-a86e-8a64ca5fdd6d","name":"Flatten JSON to key-value pairs","comments":"","instanceIdentifier":"27481284-9a96-372e-29b6-af48b2b0dcf9"},"labelIndex":1,"zIndex":0,"selectedRelationships":["SUCCESS"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"73957982-f542-39b6-a86e-8a64ca5fdd6d"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"8701abec-7829-3012-bcd3-d10972420545","instanceIdentifier":"ddf73d30-7e81-31c3-971c-77a8f48d93ce","name":"DBCPConnectionPool","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"1.17.0"},"properties":{"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","Database Driver Class Name":"org.postgresql.Driver","dbcp-min-evictable-idle-time":"30 mins","kerberos-principal":null,"Max Total Connections":"8","kerberos-credentials-service":null,"dbcp-max-conn-lifetime":"-1","Validation-query":"select 1","Database Connection URL":"jdbc:timescaledb://timescaledb/iow","dbcp-time-between-eviction-runs":"-1","Database User":"ldes","kerberos-user-service":null,"dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":"/opt/nifi/nifi-current/extensions/postgresql-42.5.0.jar","dbcp-max-idle-conns":"8"},"propertyDescriptors":{"kerberos-password":{"name":"kerberos-password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false},"kerberos-principal":{"name":"kerberos-principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false},"database-driver-locations":{"name":"database-driver-locations","displayName":"Database Driver Location(s)","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["URL","DIRECTORY","FILE"]}},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.17.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"73957982-f542-39b6-a86e-8a64ca5fdd6d"}],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0"}